@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::after, *::before{box-sizing: border-box;}

body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-image: url("images/vim.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: yellow;
  font-size: min(1.5rem) 
}

a:link{
  color: yellow
}

footer{
  background-color: rgb(15, 11, 11);
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

li strong{
	background-color: black;
	padding: .2rem 1rem;
}

li {
	margin-bottom: 1rem;
}

contato h3{
  font-size: 2rem;
  padding-bottom: -2rem;
}

a:visited{
  color: beige;
}

.contato{
  padding: 1rem;
  display: block;
  text-align: center;
  font-size: 3rem;  
}

.contato input{
  font-size: 1.5rem;
  background-color: rgb(41, 18, 18);
  color: yellow;
  font-weight: bolder;
  font-family: 'Handlee', 'Comic-Sans', cursive;
  padding: .5rem;
  border-color: black;
  border-style: groove;
  text-align: center;
}
.contato input:hover{
  width: 7rem;
  opacity: .75;
  transition: width 1000ms linear; 
}

.effect:hover{
  color: yellow;
  opacity: .75;
  transition: color 1000ms linear;
}

.container{
  padding: 1rem;
  margin: 0 auto;
}

.links{
  border: 1px solid yellow;
  padding: .5rem;
}
